nav{
	padding-left: 10px; 
	width: 1400px;
	height: 280px;
}

a{
	float: left;
	width: 15%;
	height: 90%;
	text-decoration: none;
	text-align: center;
	background-color: #FAFAFA;
	padding: 20px 9px; 
	margin: 20px 3px;
	color: #585858;
	opacity: 0.8;
	font-family: "Roboto";
	box-shadow: 2px 2px #D8D8D8;
}

a:hover{
	width: 15%;
	height: 100%;
	color: #A9BCF5;
	font-family: 
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

h2, span, p {
	font-family: 'Roboto';
}

span {
	font-style: italic;
}